<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>SCIENCE LE</title>
        <link rel="stylesheet"
              href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <meta name="theme-color" content="#ffffff">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.0.0/mdb.min.css"
  rel="stylesheet"
/>
    </head>
    <body style="background-color: ghostwhite">
        {% include 'navbar.html' %}
        <main>
            {% if messages %}
                {% for message in messages %}
                    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                      <div id="liveToast" class="toast liveToast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true">
                            <div class="toast-header bg-{{ message.tags }} border-0">
                              <strong class="me-auto">{{ message.tags|capfirst }}</strong>
                              <small>{% now 'Y-m-d' %}</small>
                              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                            <div class="toast-body">
                              {{ message|capfirst }}
                            </div>
                        
                      </div>
                    </div>
                {% endfor %}
{#                <ul class="messages">#}
{#                    {% for message in messages %}#}
{#                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
{#                    {% endfor %}#}
{#                </ul>#}
            {% endif %}
            {% block content %}
            {% endblock %}
        </main>
        <script>
            var toastLiveExample = document.getElementsByClassName('liveToast')
            for (let toast of toastLiveExample) {
                var toast_ = new bootstrap.Toast(toast)
                toast_.show()}
        </script>
    </body>
</html>