{% load static %}
<!DOCTYPE html>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
  <div class="container-fluid d-flex align-items-center flex-nowrap">
    <a class="navbar-brand h1" href="#">
{#      <img src="{% static 'icons/logo.png' %}" alt="Logo" width="35" height="30" class="d-inline-block align-text-center">#}
      SCIENCE LE
    </a>
    <a class="nav-link" href="#">Личный кабинет</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-white" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Конструктор диаграмм</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Пользовательские Datasets</a>
        </li>
      </ul>
    </div>
  </div>
</nav>